# Apify API token -- required. Get one at https://console.apify.com/settings/integrations
# Used to run the Instagram Scraper actor (apify~instagram-scraper).
APIFY_API_TOKEN=your_apify_api_token_here

